# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jason\OneDrive - Technological University Dublin\TUD_ComputerScience_Year4\Final Year Project\GitHub\Project_TimeLeap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
